<!DOCTYPE html>
<html>
<head>
    <title>ViewBag.Title = "Accueil"</title>
    @RenderSection("head", required: false)
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Saas</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href=@Url.Content("/Content/linearicons.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/font-awesome.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/bootstrap.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/magnific-popup.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/nice-select.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/animate.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/owl.carousel.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/main.css")>

    <link rel="stylesheet" href=@Url.Content("/global_assets/Added/css/bootstrap.min.css")>
    <link rel="stylesheet" href=@Url.Content("/global_assets/Added/css/flexslider.css")>
    <link rel="stylesheet" href=@Url.Content("/global_assets/Added/css/jquery.fancybox.css")>
    <link rel="stylesheet" href=@Url.Content("/global_assets/Added/css/main.css")>
    <link rel="stylesheet" href=@Url.Content("/global_assets/Added/css/responsive.css")>
    <link rel="stylesheet" href=@Url.Content("/global_assets/Added/css/font-icon.css")>
    <link rel="stylesheet" href=@Url.Content("/global_assets/Added/css/animate.min.css")>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @RenderSection("Style", required: false)

</head>
<body>
    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="#"><img src="~/global_assets/images/log3.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <a href="@Url.Action("","Home")">Manager</a>
                        <a href="@Url.Action("","Admin")">Admin</a>
                        <li class="menu-active"><a href="#home">Home</a></li>
                        <li><a href="#service">Services</a></li>
                        <li><a class="ticker-btn" href="@Url.Action("","Calendar")>Calendar</a></li>
                        <li>@Html.ActionLink("Price", "Index2", "Pack", null, null)</li>
                        <li><a href="#testimonial">News</a></li>
                        <li><a class="ticker-btn" href="@Url.Action("","Home")">GET START</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->


    <div>
        @RenderBody();
    </div>

    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>

                        <p class="footer-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This Project is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://Terabyte.com" target="_blank">TeraByte</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- End footer Area -->

    <script src=@Url.Content("~/Scripts/vendor/jquery-2.2.4.min.js")></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src=@Url.Content("~/Scripts/vendor/bootstrap.min.js")></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src=@Url.Content("~/Scripts/easing.min.js")></script>
    <script src=@Url.Content("~/Scripts/hoverIntent.js")></script>
    <script src=@Url.Content("~/Scripts/superfish.min.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.ajaxchimp.min.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.magnific-popup.min.js")></script>
    <script src=@Url.Content("~/Scripts/owl.carousel.min.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.sticky.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.nice-select.min.js")></script>
    <script src=@Url.Content("~/Scripts/parallax.min.js")></script>
    <script src=@Url.Content("~/Scripts/mail-script.js")></script>
    <script src=@Url.Content("~/Scripts/main.js")></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src=@Url.Content("/global_assets/Added/js/bootstrap.min.js")></script>
    <script src=@Url.Content("/global_assets/Added/js/jquery.flexslider-min.js")></script>
    <script src=@Url.Content("/global_assets/Added/js/jquery.fancybox.pack.js")></script>
    <script src=@Url.Content("/global_assets/Added/js/modernizr.js")></script>
    <script src=@Url.Content("/global_assets/Added/js/main.js")></script>
    <script type="text/javascript" src=@Url.Content("/global_assets/Added/js/jquery.contact.js")></script>
    <script type="text/javascript" src=@Url.Content("/global_assets/Added/js/jquery.devrama.slider.min-0.9.4.js")></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$('.slider-banner').DrSlider({
				'transition': 'fade',
				showNavigation: false,
				progressColor: "#03A9F4"
			});
		});
    </script>
    @RenderSection("Scripts", required: false)


</body>
</html>
